*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background: #F7F7F7;
}

.site-top__cover{
  background-image: url(../../first/src/assets/img/bg-image.png);
}

.site-bottom__cover{
  background-image: url(../../first/src/assets/img/bottom-bg.png);
  width: 100%;
}
